<!DOCTYPE html>
<html lang="en" ng-app="BookKeeperApp">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
<body ng-controller="BookKeeperController">
<%^user%>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="../static/js/bookKeeper-ng-controller.js"></script>-
<script src="js/bookKeeper-ng-controller.js"></script>
<h1 style="position: relative; float; center; width:100%; padding:20px;">BookKeeper</h1>
<h2>Please login:</h2>
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Login</button>
</form>
<form action="/newUser" method="post">
    <br><h3>Or Sign Up:</h3>
    <input type="text" placeholder="First Name" name="firstName" required>
    <input type="text" placeholder="Last Name" name="lastName" required>
    <br><br>
    <input type="text" placeholder="Username" name="userName" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Register</button>
</form>
<div style="position: relative; float; left; width:100%; padding:20px;">
</div>
<%/user%>

</body>
</html>